body {
  font: 14px "Roboto", sans-serif;
  color: #000;
  font-weight: 300;
}
.martop25 {
  margin-top: 25px;
}
.logo {
  font-size: 26px;
  padding: 10px;
  font-weight: 400;
}
.content {
  font-size: 22px;
  text-align: justify;
  width: 70%;
  height: 40px;
  line-height: 35px;
  margin: 50px auto;
}
.nav-button {
  text-align: center;
}
.nav-button:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.minimal-input {
  border: 2px solid #bbb;
  padding: 10px;
  width: 200px;
}
.minimal-button {
  border: 2px solid black;
  padding: 10px;
  background-color: white;
}
.minimal-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.picture img {
  height: 350px;
}
.list {
  padding: 10px 0 0 20px;
  list-style: none;
}
.list li {
  line-height: 25px;
}
